@model VLO.Models.Usuarios

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/estilos.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body id="LoginForm">
    <div class="container">
        <div class="login-logo">
            <center><img src="~/Content/Logo.png" alt="VLO" class="img-responsive"/></center>
        </div>
        <div class="login-form">
            <div class="main-div">
                <div class="panel">

                    <h2>Inicio de Sesión</h2>
                    <p>Ingrese Usuario y Contraseña</p>
                    <div class="@ViewBag.alerta alert alert-danger alert-dismissable" role="alert">

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                &times;


                            </span>
                        </button>@ViewBag.error

                    </div>

                    <form id="Login" action="/" method="post">

                        <div class="form-group">
                            <input type="text" class="form-control" name="username" id="inputEmail" placeholder="Usuario">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="contra" id="inputPassword" placeholder="Contraseña">
                        </div>

                        <button type="submit" class="btn btn-primary">Ingresar</button>

                    </form>
                </div>
            </div>

        </div>
    </div>


</body>
</html>