<ul>
    <li class="label">Menu</li>
    <li><a href="@Url.Action("Index","Asignacionturnos")"><i class="ti-wand"></i> Asignaciones </a></li>
    <li><a href="@Url.Action("Index","Prestamos")"><i class="ti-brush-alt"></i>  Prestamos </a></li>
</ul>
