<ul>
    <li class="label">Menu</li>
    <li><a href="@Url.Action("Turno","Asignacionturnos")"><i class="ti-wand"></i> Asignaciones </a></li>
    <li><a href="@Url.Action("Solicitar","Prestamos")"><i class="ti-share"></i>  Solicitar </a></li>
    <li><a href="@Url.Action("Espera","Prestamos")"><i class="ti-thought"></i> Estado </a></li>
    <li><a href="@Url.Action("Devolucion","Prestamos")"><i class="ti-share-alt"></i>  Devolver </a></li>
</ul>
