@model VLO.Models.SolicitudViewModel
@{
    ViewBag.Title = "Solicitudes";
}

<h2>Solicitudes</h2>
<div>
    <hr />
    <div class="row col-md-12">
        @foreach (var item in Model.Prestamos)
        {
            <div class="thumbnail col-md-4">
                <div class="caption">
                    Solicitud de parte de: @item.Usuarios.Nombre
                 
                </div>
                <div>
                    <p><strong>Para: </strong></p>
                    @{ var Adet = Model.Prestamos.Where(x => x.IdProducto == item.IdProducto).ToList();}
                    @foreach (var item2 in Adet)
                    {

                        var Prod = Model.Productos.Where(x => x.IdProducto == item2.IdProducto).FirstOrDefault();
                        
                        <p>Producto: @Prod.Nombre</p>
                        <p>Cantidad: @item.Cantidad</p>
                        <p>
                            Estado:
                            @if (item.Estado == 1)
                            {
                                <span class="badge badge-danger">
                                    En espera de confirmación
                                </span>
                            }
                            else if (item.Estado == 2)
                            {
                                <span class="badge badge-success">
                                    Confirmado
                                </span>
                            }
                            else if (item.Estado == 3)
                            {
                                <span class="badge badge-warning">
                                    Retirado
                                </span>
                            }
                            else if (item.Estado == 4)
                            {
                                <span class="badge badge-dark">
                                    Devuelto
                                </span>
                            }
                        </p>
                    }
                    <a class="btn btn-danger btn-rounded" href="/Prestamos/TerminarSolicitud?idprestamos=@item.IdPrestamo">Terminar</a>

                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script>
        setInterval(function () {
            window.location.reload();
        }, 50000
        );</script>
}